h2 {
    margin-left: 8%;
    display: flex;
}

.wordleEntry{
    font-style: italic;
    color:blue;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.whiteCell {
    /* font-style: italic; */
    /* color:white; */
    background-color: white;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.greenCell {
    color:white;
    background-color: greenyellow;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.yellowCell {
    color:white;
    background-color: gold;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.grayCell {
    color:white;
    background-color: darkgray;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}


.letterBoardCellUnanswered {
    color:black;
    background-color: #ebebeb;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.letterBoardCellGreen {
    color:black;
    background-color: greenyellow;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.letterBoardCellYellow {
    color:black;
    background-color: gold;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.letterBoardCellGray {
    color:black;
    background-color: darkgray;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}



.row { 
    display: flex;
    column-gap:  5px;
    margin-top: 5px;
}

.letterBoard {
    margin-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
}

.qRow {
    display: flex;
    text-align: center;
    column-gap:  5px;
    /* align-items: center; */
}

.aRow {
    display: flex;
    text-align: center;
    margin-top: 5px;
    column-gap:  5px;
    padding-left: 2%;
}

.zRow {
    display: flex;
    text-align: center;
    margin-top: 5px;
    column-gap:  5px;
    padding-left: 6%;
}