.wordleEntry{
    font-style: italic;
    color:blue;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;

    /* margin: auto; */
    /* width: 50%; */
    /* border: 3px solid green; */
    /* padding: 10px; */
}

.whiteCell {
    /* font-style: italic; */
    /* color:white; */
    background-color: white;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.greenCell {
    color:white;
    background-color: greenyellow;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.yellowCell {
    color:white;
    background-color: yellow;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.grayCell {
    color:white;
    background-color: darkgray;
    border-style: solid;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.row{ 
    /* background-color: aquamarine; */
    display: flex;
}
